@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500&display=swap');

body {
    font-family: 'Geist', ui-sans-serif, -apple-system, sans-serif;
    background-color: #f5f4ef

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userform {
    text-align: center;
}

.button {
  background-color: #d97757;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%
}

.resultbutton {
    background-color: #d97757;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
