<!DOCTYPE html>
<html>
<head>
    <title>Sentify History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">

<h1>History</h1>

{% for analysis in analyses %}
    <div class="analysis"><h2>{{ analysis.label }} {{ "%.2f"|format(analysis.score * 100) }}% </h2> 
        <p>{{ analysis.text }}</p> 
        {{ analysis.created_at.strftime('%d %b %Y, %H:%M') }}
    
    </div>

{% endfor %}

<a href="/" class="resultbutton">Analyse another text</a>

</div>
</body>
</html>